body {
  margin: 0;
}

.container {
  display: flex;
}

.header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 75px;
  background-color: #f1f1f1;
}

.header-title {
  padding-top: 20px;
  margin: 0 auto;
}

.sidebar {
  margin: 75px 0 0 0;
  padding: 0 50px;
  width: 250px;
  background-color: #f1f1f1;
  height: 88vh;
}

.sidebar img {
  padding-top: 50px;
  max-width: 200px;
}

.content {
  padding: 100px 0 0 0;
  height: 85vh;
  margin: 0 60px;
}
